header {
    height: 57px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    background-color: white;

    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1;
    
    border-bottom: 1px solid rgba(96, 96, 96, .2);
}

.left-section {
    /*background-color: red;*/
    display: flex;
    align-items: center;
}

.hamburger-menu {
    width: 24px;
    margin: 0 25px;
}

.yt-icon {
    width: 90px;
}

.inner-section {
    flex: 1;
    max-width: 470px;
    margin-left: 60px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.inner-section > input[type=search] {
    flex: 1;
    width: 0;
    max-width: 371px;
    min-width: 0;
    padding: 12px 12px;
    height: 40px;
    border: 1px solid #d3d3d3;
}

::placeholder {
    font-size: 16px;
    color: rgba(211, 211, 211, 1);
    font-weight: lighter;
}



.search-icon {
    width: 24px;
    padding: 0 20px;
    background-color: #f7f7f7;
    height: 38px;
    border: 1px solid lightgray;
    border-left: 0;
    margin-right: 8px;
}

.voice-icon {
    background-color: rgb(247, 247, 247);
    padding: 8px;
    border-radius: 45px;
    cursor: pointer;
}

.search-icon:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.5);
}



.right-section {
    margin-right: 24px;
    margin-left: 29px;
    width: 182px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

.channel-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}


