@media screen and (max-width:992px) {
    .video-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width:768px) {
    .sidebar {
        display: none;
    }

    .right-section {
        display: none;
    }
    .inner-section {
        padding-right: 15px;
        margin-left: 25px;
    }
    .video-container {
        grid-template-columns: 1fr 1fr;
        margin:0;
        padding-left: 1px;
        padding-right: 1px;
    }

    
    
}

@media screen and (max-width:390px) {
    .video-container {
        grid-template-columns: 1fr;
    }
    .hamburger-menu {
        display: none;
    }
   .left-section {
    justify-content: center;
    margin-left: 12px;
   }
    .inner-section {
        margin-right: 5px;
        padding-right: 5px;
        justify-content: right;
    }
    .search-bar {
        display: none;
    }
    .search-icon {
        background-color: white;
        border: 0;
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 1px;
        padding-right: 1px;
    }
}