
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: antiquewhite;
    padding: 45px 45px 45px 45px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 655px;;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.container > div {
    
    min-height: 155px;
    
}


.left {
    flex: 2;
    background-color: lightgrey;
}
.right {
    flex: 1;
    padding: 08px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left ul {
    list-style-type: none;
    padding: 0;
}

.left ul li {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    margin: 4px;
    padding: 4px 12px;
}
button {
    padding: 8px;
    font-family: sans-serif;
}
